/* build time:Mon Mar 06 2023 11:02:22 GMT+0800 (中国标准时间)*/
#web_bg{background:#ffefba;background:-webkit-linear-gradient(to right,#7ef040,#fff);background:linear-gradient(to right,#7ef040,#fff)}
/* rebuild by neat */