/* build time:Fri Mar 03 2023 22:43:01 GMT+0800 (中国标准时间)*/
.layout>div:first-child:not(.recent-posts){background:rgba(255,255,255,.3)}#recent-posts>.recent-post-item,.layout>div:first-child:not(.recent-posts),.layout_post>#page,.layout_post>#post,.read-mode .layout_post>#post{background:rgba(255,255,255,.3)}
/* rebuild by neat */